*{
  margin: 0;
  padding: 0;
}

main{
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5)60%, rgba(0,0,0,0.5)60%),url(./sun1.jpeg);
  height: 100vw;
  background-position: center;
  background-size: cover;
}
nav{
  width: 1200px;
  height: 75px;
  margin: auto;
}
icon{
  width: 200px;
  float: left;
  height: 70px;
}
.logo{
  color: green;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20pxl;
  padding-top: 10px;
  float: left;
}
.navbar{
  width: 400px;
  float: left;
  height: 70px;
}
ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}
ul li a{
  text-decoration: none;
  color: #fff;
  font-family: arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover{
  color: greenyellow;
}
.search{
  width: 330px;
  float: left;
  margin-left: 270px;
}
.srch{
  font-family: 'Times New Roman', Times, serif;
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid greenyellow;
  margin-top: 13px;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.btn{
  width: 100px;
  height: 40px;
  background: greenyellow;
  border: 2px solid greenyellow;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn:focus{
  outline: none;
}
.srch:focus{
  outline: none;
}
.content{
  width: 1200px;
  height: auto;
  margin: auto;
  color: #fff;
  position: relative;
}
.content .par{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.2px;
  line-height: 30px;
}
.content h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9px;
  letter-spacing: 2px;
}
.content .cn{
  width: 160px;
  height: 40px;
  background: greenyellow;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  curser: pointer;
}
.content .cn a{
  text-decoration: none;
  color: #000;
  transition: .3s ease;
  text-align: center;
}
.cn:hover{
  background-color: #fff;
}
.content span{
  color: greenyellow;
  font-size: 1.4em;
}
.form{
  width: 35vw;
  height:78vh;
  background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
  position: absolute;
  top: 10vh;
  left: 700px;
  border-radius: 10px;
  /* padding: 25px; */
}
.form h2{
  width: 17vw;
  font-family: sans-serif;
  text-align: center;
  color: greenyellow;
  font-size: 1.2em;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 5vh;
  margin-left: 8vw;
  padding: 8px;
}
.form input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid greenyellow;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}
.form input:focus{
  ouline: none;
}
::placeholder{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.btnn{
  width: 240px;
  height: 40px;
  background: greenyellow;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
}
.btnn:hover{
  background: #fff;
  color: greenyellow;
}
btnn a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}